version: "3.8"

services:
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=ai_blog_db
      - POSTGRES_USER=usuario_blog
      - POSTGRES_PASSWORD=password_secreto
    ports:
      - "5433:5432"

volumes:
  postgres_data:
